*.obj
*.exe
*.pdb
*.sdf
*.opensdf
*.ipch
*.log
*.zip
ipch/

debug/
nppBackup/
update/

UavControl.pro.user*
/GrabFactory.cpp.autosave
/Makefile
/Makefile.*
/Makefile.Release
/img/splash.jpg
/res/logo.gif
/res/splashscreen.jpg
/res/splashscreen.png
